      <br />
    <hr />
    <input type="submit" value="Save">
  </form>
  <form action="/people/<%= contact.id %>/<%= mode %>" method="get">
    <input type="submit" value="Cancel">
  </form>
</div>

<% include ./foot %>
