<% include ./partials/personInfo %>

  <form action="/contacts/<%= contact.id %>/new" method="post">
    <div class="searchcontainer">
      <div class="namesearch">
        <label for="type">Type</label>
          <input type="text" id="type" name="type" list="types">
            <datalist id="types">
              <% type.forEach( (d) => { %>
                <option value="<%= d.type %>"><%= d.type %></option>
              <% }) %>
            </datalist>
        <br />
        <label for="contact">Contact</label>
          <input type="text" id="contact" name="contact">
      </div>
      <div class="addysearch">
          <select name="preferred" id="preferred">
            <option value="false" selected>Not preferred</option>
            <option value="true">Preferred</option>
          </select>
        <label for="preferred">Preferred</label>
        <br />
          <select name="donotcontact" id="donotcontact">
            <option value="false" selected>OK To Contact</option>
            <option value="true">Do Not Contact</option>
          </select>
        <label for="donotcontact">Do Not Contact</label>
      </div>
    </div>

<% include ./partials/saveCancelButtons %>
