<% include ./partials/boilerplate %>

<div class="main">
  <div class="searchform">
    <div class="searchtitle">
      <h1>Search Form</h1>
    </div>
    <form action="/search/results" method="get">
      <div class="namesearch">
        <input type="text" name="prefix" placeholder="prefix">
        <input type="text" name="fname" placeholder="first name">
        <input type="text" name="mname" placeholder="middle name">
        <input type="text" name="lname" placeholder="last name">
        <input type="text" name="suffix" placeholder="suffix">
      </div>
      <div class="addysearch">
        <input type="text" name="address" placeholder="address">
        <input type="text" name="city" placeholder="city">
        <input type="text" name="state" placeholder="state">
        <input type="text" name="zipcode" placeholder="zipcode">
      </div>
      <div class="button">
        <input type="submit" value="Search">
      </div>
    </form>
  </div>
</div>

<% include ./partials/foot %>
