<% include ./partials/boilerplate %>

<div class="main">
  <div class="searchform">
    <div class="topbar">
      <h1>SEARCH FORM</h1>
    </div>
    <div class="newpersonbuttoncontainer">
      <% include ./partials/newpersonbutton %>
    </div>
    <hr />
    <form action="/search/results" method="get">
      <div class="searchcontainer">
        <div class="namesearch">
          <label for="prefix">Prefix</label>
            <input type="text" id="prefix" name="prefix" placeholder="prefix">
            <br />
          <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" placeholder="first name">
            <br />
          <label for="mname">Middle Name</label>
            <input type="text" id="mname" name="mname" placeholder="middle name">
            <br />
          <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" placeholder="last name">
            <br />
          <label for="suffix">Suffix</label>
            <input type="text" id="suffix" name="suffix" placeholder="suffix">
            <br />
        </div>
        <div class="addysearch">
            <input type="text" id="address" name="address" placeholder="address">
          <label for="address">Address</label>
          <br />
            <input type="text" id="city" name="city" placeholder="city">
          <label for="city">City</label>
          <br />
            <input type="text" id="state" name="state" placeholder="state">
          <label for="state">State</label>
          <br />
            <input type="text" id="zipcode" name="zipcode" placeholder="zipcode">
          <label for="zipcode">Zipcode</label>
          <br />
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Search">
      </div>
    </form>
  </div>
</div>

<% include ./partials/foot %>
