.container {
  width: 98%;
  height: 2000px;
  margin: 5px;
  border: 5px solid black;
}

.sidenav {
  position: fixed;
  width: 250px;
  height: 96vh;
  margin: 0;
  border: 2px solid blue;
}

.sidespacer {
  display: inline-flex;
  justify-content: flex-start;
  border: 5px solid red;
  width: 250px;
  height: 100%;
}

h1 {
  text-align: center;
}

.searchform {
  display: block;
  border: 3px solid salmon;
}

.main {

/*  align-content: stretch;*/
  /*align-content: flex-start;*/
  border: 5px solid lime;
  /*position: absolute;*/
/*  top: 20px;*/
}

.searchtitle > h1 {
  text-align: center;
}

.button {
  border: 2px solid yellow;
}

.button > input {
  width: 150px;
  padding: 50px;
  align-self: center;
}

.contact > p {
  text-align: center;
}

.personbuttondiv {
  border: 2px solid red;
  display: flex;
  justify-content: center;
}

.personbuttonul {
  padding: 0;
  margin: 0 auto;
  border: 2px solid yellow;
  flex
}

.personbutton {
  display: inline-block;
  background: salmon;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: "sans-serif";
  margin: 0 auto;
  text
}

.namesearch, .addysearch {
  display: inline-block;
  border: 10px solid magenta;
}

.namesearch > input, .addysearch > input {
  display: block;
  margin: 5px;
  width: 200px;
}
