

body {
  font-family: 'Roboto', sans-serif;
  background: #DBE9EE;
}

input[type="submit"] {
  background: #AFFC41;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background: #80B830;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
}

input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

label {
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;

}

.topbar {
  background: #30638E;
  padding: 1px;
}

.topbar > h1 {
  color: white;
  font-size: 60px;
}

.newpersonbuttoncontainer {
  display: flex;
  justify-content: center;
}

.newpersonbuttoncontainer > * {
  margin: 10px;
}

.contact {
  margin: 20px;
}

.contact > p {
  text-align: center;
  font-weight: bold;
  line-height: 50%;
}

.personeditbutton {
  text-align: center;
}

.personbuttondiv {
  text-align: center;
}

.personbuttondiv > * {
  display: inline-block;
}

.statlabel {
  font-weight: bold;
}

.statscontainer{
  display: flex;
}

.statsone {
  text-align: right;
  flex: 1;
}
.statstwo{
  flex: 1.3;
}

.statsone, .statstwo {
  width: 50%;
  padding: 0 30px;
}

.searchcontainer {
  display: flex;
}

.namesearch, .addysearch {
  flex: 1;
  padding: 10px 0;
}

.namesearch {
  text-align: right;
}

.button {
  display: flex;
  justify-content: center;
}

.button > input {
  width: 250px;
  margin: 0 10px;
}

.results > * {
  text-align: center;
}

.resultindividual {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.newbuttons {
  display: flex;
  justify-content: center;
}

.miscnewperson {
  display: flex;
  justify-content: center;
}











